default_language_version:
  python: python3

repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v4.4.0
    hooks:
      # Supported hooks: https://pre-commit.com/hooks.html
      - id: end-of-file-fixer
      - id: detect-private-key

  - repo: "https://github.com/astral-sh/ruff-pre-commit"
    rev: v0.6.4
    hooks:
      # Run the linter and fix problems.
      # * Must be run before ruff-format!
      - id: ruff
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format
