name: Default Branch PR Merged CI

on:
  pull_request_target:
    types: ["closed"]
    branches: [ "main" ]

jobs:
  merged-ci:
    uses: openclimatefix/.github/.github/workflows/default_branch_pr_merged_ci.yml@main
    secrets: inherit
